<section class="header">
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="images/LOGO.png" width="200" height="85"></a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="/" class="<%= currentPage === '/' ? 'active' : '' %>">HOME</a></li>
                <li><a href="/projects" class="<%= currentPage === '/projects' ? 'active' : '' %>">PROJECT LIST</a></li>
                <li><a href="/teams" class="<%= currentPage === '/teams' ? 'active' : '' %>">TEAM LIST</a></li>
                <li><a href="/users" class="<%= currentPage === '/users' ? 'active' : '' %>">STUDENT LIST</a></li>
                <li><a href="/profile" class="<%= currentPage === '/profile' ? 'active' : '' %>">PROFILE</a></li>
            </ul>
    </nav>
</section>
