<!DOCTYPE html>
<html lang="en">
<%- include("partials/doc-head.ejs", {title: "Manage Teams"}); %>
<body>
    
<%- include('partials/header.ejs'); %>
    
<div class="function-container">
    <div class="function-item">
        <input type="text" id="searchInput" placeholder="Search teams">
    </div>
</div>

<main class="adminTeamPage">
    
    <% for (let i = 0; i < teams.length; i++) { %>    
        <div class="teamCard">                     
            <h1>Team <%= teams[i].id %></h1>                    
            <form action="/admin/disband-team" method="post">
                <input type="hidden" name="team" value="<%= teams[i].id %>" />
                <input type="submit" class="deleteTeam" id="deleteTeam" value="Delete Team" />
            </form>
            <% (teams[i].members).forEach(member => { %>           
                <div class="teamMembers">
                    <form action="/admin/drop-from-team" method="post">
                        <input name="user" type="hidden" value="<%= member.userID %>" />
                        <input type="submit" class="deleteMember" value="-" />
                    </form>
                    <p><%= member.firstName %> <%= member.lastName %></p>
                </div>
            <% }) %> 
            
            <div class="searchContainer">                
                <form action="/admin/add-team-member" method="post">
                    <input type="hidden" name="team" value="<%= teams[i].id %>" />
                    <select id="newMember" name="newMember">
                        <option value=""></option>
                        <% singleUsers.forEach(user => { %>
                            <option value="<%= user.userID %>"><%= user.name %></option>
                        <% }); %>
                    </select>
                    <input type="submit" class="addMember" id="addMember" value="Add" />                    
                </form>                                        
            </div>                                                    

            <h2>Assigned Project</h2>            
            <form action="/admin/set-project" method="post">
                <input type="hidden" name="team" value="<%= teams[i].id %>" />
                <select name="assignProject" id="assignProject">
                    <option value="">Assign New Project</option>
                    <% for (let i=0; i < projects.length; i++) { %>
                        <option value="<%= projects[i].projectID %>"><%= projects[i].projectname %></option>
                    <% } %>
                </select>
                <div class="projSubmitButton">
                    <input type="submit" value="Submit" />
                </div>
            </form>
            <% if (teams[i].projectID != null) { %>                                            
                <% for (let j=0; j < projects.length; j++) { %>   
                    <% if (teams[i].projectID === projects[j].projectID) { %> 
                        <p>Project <%= projects[j].projectID %></p>
                        <p><%= projects[j].projectname %></p>
                        <p><%= projects[j].sponsor %></p>
                        <% break; %>
                    <% } %>
                <% } %>                 
            <% } %>
        </div>    
    <% } %>                 
</main>

</body>
</html>