<!DOCTYPE html>
<html lang="en">
<%- include("partials/doc-head.ejs", {title: "Manage Database - Administrator"}); %>
<body>

<%- include('partials/admin-header.ejs'); %>
    
<main class="adminPage">
    <h1>Manage Teams</h1>    

    <% for (let i = 0; i < teams.length; i++) { %>    
        <div class="teamCard">    
            <h1>Team <%= teams[i].id %></h1>        
            <h2>Team Members</h2>
            <% (teams[i].members).forEach(member => { %>
                <p><%= member %></p>
            <% }) %>                                            
                
            <h2>Assigned Project</h2>
            
            <% if (teams[i].projectID === null) { %>
                <p>NULL</p>
            <% } else { %>
                <p>Project <%= projects[i].id %> - <%= projects[i].title %><br><%= projects[i].sponsor %></p>
            <% } %>
        </div>    
    <% } %>                 
    
</main>

</body>
</html>