<!DOCTYPE html>
<html lang="en">
<%- include("partials/doc-head.ejs", {title: "Manage Database - Administrator"}); %>
<body>

<%- include('partials/header.ejs'); %>
    
<main class="adminTeamPage">
    <% for (let i = 0; i < teams.length; i++) { %>    
        <div class="teamCard">               
            <h1>Team <%= teams[i].id %></h1>                    
            <button class="deleteTeam" id="deleteTeam">Delete Team</button>
            <% (teams[i].members).forEach(member => { %>           
                <div class="teamMembers">
                    <button class="deleteMember" id="deleteMember">-</button>
                    <%= member %>
                </div>
            <% }) %> 
            
            <div class="searchContainer">
                <input type="text" id="searchMember" placeholder="Add New Member">                                
            </div>
            
                            
            

            <h2>Assigned Project</h2>            
            <select name="assignProject" id="assignProject">
                <option value="">Assign New Project</option>
                <% for (let i=0; i < projects.length; i++) { %>
                    <option value="<%= projects[i].projectID %>">
                        <%= projects[i].projectname %>
                    </option>
                    <% } %>
            </select>
            <% if (teams[i].projectID != null) { %>                                            
                <% console.log(projects[i]); %>
                <p>Project <%= projects[i].projectID %> </p>
                <p><%= projects[i].projectname %></p>
                <p><%= projects[i].sponsor %></p>
            <% } %>
        </div>    
    <% } %>                 
</main>

</body>
</html>