<!DOCTYPE html>
<html lang="en">
<%- include("partials/doc-head.ejs", {title: "Manage Teams"}); %>
<body>
    
<%- include('partials/header.ejs'); %>
    
<div class="function-container">
    <div class="function-item">
        <input type="text" id="searchInput" placeholder="Search teams">
    </div>
</div>

<main class="adminTeamPage">
    
    <% for (let i = 0; i < teams.length; i++) { %>    
        <div class="teamCard">                     
            <h1>Team <%= teams[i].id %></h1>                    
            <button class="deleteTeam" id="deleteTeam">Delete Team</button>
            <% (teams[i].members).forEach(member => { %>           
                <div class="teamMembers">
                    <button class="deleteMember" id="deleteMember">-</button>
                    <%= member %>
                </div>
            <% }) %> 
            
            <div class="searchContainer">
                <input type="text" id="searchMember" placeholder="Add New Member">                                
            </div>                                                    

            <h2>Assigned Project</h2>            
            <select name="assignProject" id="assignProject">
                <option value="">Assign New Project</option>
                <% for (let i=0; i < projects.length; i++) { %>
                    <option value="<%= projects[i].projectID %>">
                        <%= projects[i].projectname %>
                    </option>
                <% } %>                
            </select>
            <div class="projSubmitButton">
                <input type="submit" value="Submit" />
            </div>
                
            <% if (teams[i].projectID != null) { %>                                            
                <% console.log(projects[i]); %>
                <% for (let j=0; j < projects.length; j++) { %>   
                    <% if (teams[i].projectID === projects[j].projectID) { %> 
                        <p>Project <%= projects[j].projectID %></p>
                        <p><%= projects[j].projectname %></p>
                        <p><%= projects[j].sponsor %></p>
                        <% break; %>
                    <% } %>
                <% } %>                 
            <% } %>
        </div>    
    <% } %>                 
</main>

</body>
</html>