<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<%- include("partials/doc-head.ejs", {title: "Project List"}); %>

<body>
    <%- include('partials/header.ejs'); %>

    <main>
        <article>
            <h1>Project List</h1>
            
            <%- include('partials/current-project.ejs'); %>

            <ul class="profile-list">
                <% projects.forEach(project => { %> 
                    <li>
                        <a href="/projects/<%= project.id %>">
                            <div class="profile-image-box">
                                <img class = "profile-image" src="<%= project.avatar %>" />
                            </div>
                            <div class="profile-box">
                                <h2 class="project-name">
                                        <%= project.title %>
                                    <% if (project.id == yourProject) { %>
                                        <span class="your-project-indicator">Your Project</span>
                                    <% } %>
                                </h2>
                                <div class="project-sponsor">
                                    <%= project.sponsor%> 
                                </div>
                                <div class="project-description">
                                    <%= project.description%>
                                </div>
                                <div class =project-skills>
                                    <%- include("partials/labeled-list.ejs", { label: "Skills needed", list: project.skills || []}); %>
                                </div>
                                <div class="project-status-box">
                                    <p>
                                        Project Status:
                                        <% if (project.team_assigned == "Open") { %>
                                            <span class="project-status-open">Open</span>
                                        <% } else { %>
                                            <span class ="project-status-closed">Assinged to <%=project.team_assigned%></span>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </article>
    </main>
</body>

</html>