<!DOCTYPE html>
<html lang="en">
<%- include("partials/doc-head.ejs", {title: "Team Page"}); %>
<body>
<%- include('partials/header.ejs'); %>

<main class="teamPageContents">
    <div class="teamNumheader">
        <h1>Team <%= id %></h1>
    </div>

    <div class="teamMembersList">
        <h2>Team Members</h2>
        <% (members).forEach(member => { %>
            <p><%= member %></p>
            <% }) %>
    </div>
    
    <!-- <div class="teamProjectPrefsList"> --> 
      <!-- <h2>Interested Projects</h2> --> 
        <% /* interests.forEach(proj => { */ %>
            <!-- <p><%= /* proj */ %></p> -->
        <% /* }) */ %>
    <!-- </div> */ 

    <div class="leaveTeamButtonContainer">
        <button class="leaveTeamButton" type="button">Leave Team</button>
    </div>


</main>

</body>
</html>